body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avatar{
  width: 80px;
  height:80px;
}
.icon{
  font-size:20px;
}
.icon:hover{
  cursor: pointer;
  background-color:#e2e2e2;
  border-radius:3px; 
}
#updateCommentInput{
  padding: 5px;
  resize: none;
  overflow-y: hidden;
  border-radius: 15px;
}
#reply-form,#comment-box{
  display:none;
}

#TextAreaResizeable{
  padding: 5px;
  resize: none;
  overflow-y: hidden;
  border-radius: 15px;
  width: 100%;  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
